/*
* Author:  Igor Vinicius Freitas de Souza
* GitHub: https://github.com/igor1043
* E-mail: igorviniciusfreitasouza@gmail.com
*/


#game {
    padding-top: 50px;
}

.game-section {

    background-color: #A9A9A9;
    
    padding-left: 10px;
    padding-top: 10px;

    border: 1px;
    border-style: solid;
    border-color: #696969;
    border-radius: 6px;

}
